00-hello
01-format
01-formatsp
02-broken
02-escapecode
03-structure
03-variables
04-arrays
04-variables
05-break
05-wmath
06-arrays
06-hack
07-arrays_and_strings
07-comma
08-array_of_strings
08-null
09-curious
09-loop
10-conditional
11-switch
12-function
